/Makefile
/.deps
/.libs
/*.o

/prime
/weighted_moving_average
/hash_map
/paged_map
/remem_order_map
/slow_stream
/codec
/transcode
/compress
/unit_frac
/tuple_grid
/kd_tree
/filesys_listener
/mime_magic
/rep_map_lookup_boost
/conv_hull
/readline
/packed_trgb
/nullable_string
