/Makefile
/.deps
/.libs
/*.o

/text_join
/series
/div_mod
/bit_cast
/bitscan
/atomic
/utf16
/char_enc
/enum
/time
/bind_ref
/unique_ptr
/refcnt
/shared_ptr
/weak_ptr
/random
/iterator
/file
/dir_scan
/value_codec
/text_table
/config
/options
